<nav class=" navbar-dark  fixed-top color">
	<div class="container-fluid">
	<div class="row">
<div class="col-md-4 burger">
	<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon humberger"></span>
	</button>
	<div class="offcanvas offcanvas-start  color" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title colors" id="offcanvasDarkNavbarLabel">HORUS</h5>
			<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						POP
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						Variété Française
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						JAZZ
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						Hip Hop
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						Electro
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

						Classique
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle colorsss" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						K-pop
					</a>
					<ul class="dropdown-menu dropdown-menu-dark color">
						<li>
							<a class="dropdown-item" href="#">PARIS</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">MARSEILLE</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">LYON</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">BORDEAUX</a>
						</li>

					</ul>
				</li>


			</ul>


			<a class="navbar-brand mr-3" href="{{ path('app_post') }}">

				<img class="hlogo" src="{{ asset('divers/images/logo.png') }}" alt="Logo">


			</a>

			<form class="d-flex mt-3" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn colorss" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>

<div class="col-md-4 logo">
	<a class="navbar-brand" href="{{ path('app_post') }}">

		<img class="hlogo" src="{{ asset('divers/images/logo.png') }}" alt="Logo">


	</a>
</div>

		<div class="col-md-4"></div>
	</div>




	</div>
</nav>



{{ render(controller('App\\Controller\\SomeController::someAction')) }}











